.contact_right input{
    display: block;
    position: relative;
    top: -1.5rem;
    padding: 0rem 4rem .5rem 4rem;
    width: 50%;
    height: 1.5rem;
}

.contact_right label{
    position: relative;
    top: 2rem;
}

.contact_right textarea{
    display: block;
    padding: .5rem 0;
    width: 90%;
}


.contact_right [type~="submit"]{
    display: inline-block;
    position: relative;
    top: 2rem;
    margin: 0.75rem 0 0 0;
    padding: 1em 1em 2.25em 1em;
    width: auto;
}

span.wpcf7-not-valid-tip {
    display: block;
    position: absolute;
    top: -1.4rem;
    right: -17rem;
}

div.wpcf7-response-output {
    margin: 4em 0.5em 1em;
}