
.latest_articles {
    text-align: center;
    position: fixed;
    bottom: -227px;
    right: 0;
    left: 0;
    transition: .3s ease-out;
}


.latest_articles_button {
    margin: auto;
    display: inline-block;
    padding: 10px 20px;

}


.latest_articles_content {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.latest_articles_article_preview {
    display: inline-block;
    width: 200px;
    height: 133px;
    margin: 10px 0 20px 10px;
}



.latest_articles_article_preview_text {
    height: 133px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.836));
    a {
        position: relative;
        top: 6rem;
        padding : 1.5em;

    }
    p {
        position: relative;
        top : 25px;
        padding-left: 1.25em;
    }
}
