
// BASES 

.menu-menu-1-container {
    position: fixed;
    top: 0; 
    width: auto;
    margin: 2em auto;
    text-align: center;
}

.menu-menu-1-container ul li {
    display: inline-block;
}

.menu-menu-1-container ul li a{
    padding: 1.5em;
    font-size: 0.75em;
    color: $tc;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.menu-menu-1-container ul li a:hover{
    color: $hc;
    transition: 0.5s;
}


.menu-menu-1 {
    display: flex;
    justify-content: center;
}




//*  < 800px

@media screen and (min-width: 800px) {

    .menu-menu-1-container {
        width: 100%;
    }

    .menu-menu-1-container .current-menu-item a {
        color: $hc;
    }

    .current-menu-item::after {
        content: "";
        display: block;
        height: 2px;
        width: 1.75rem;
        margin: auto;
        margin-top: .5rem;
        border-radius: 1px;
        background-color: $hc;
    }

    .menu-menu-1-container ul li{
        display: inline-block;
        font-family: $hf;
    }

    .burger {
        display: none;
    }

}





//*  < 800px

@media screen and (max-width: 800px) {


    .menu-menu-1 {
        flex-direction: column;

    }

    .menu-item-home {
        order: -1;
    }

    .burger {
        margin: auto;
    }
    
    .burger
    {
        appearance:none;
        color:inherit;
        cursor:pointer;
        position:absolute;
        top:3em;
        z-index: 2000;
        outline: none;
    }
    
    .burger:before
    {
        content:'';
        width: 50px;
        font-size: 1em;
        padding: 2em;
        background : url(../img/menu.svg) no-repeat;
        position: relative;
        right: .7rem;
    }
    
    .burger:checked:before
    {
        content:'';
        width: 50px;
        font-size: 1em;
        padding: 2em;
        background : url(../img/cross.svg) no-repeat;
        position: relative;
        right: 1.55rem;
        z-index: 2000;
    }


    .menu-menu-1-container .current-menu-item a {
            color: black;
            padding-bottom: .5rem;
            border-bottom: solid .05rem;
        }



    .menu-menu-1-container
    {
        overflow:hidden;
        padding: 7rem;
        top: -29rem;
        z-index: 1000;
    }

    .menu-menu-1-container
    {
        background-color:$bb3;
        font-size:1em;
        text-transform:uppercase;
        transition:height .2s;
        color: black;
        transition: transform .3s ease-out;
        box-shadow: 7px 3px 4px -3px rgba(0,0,0,0.16);
    }

    .menu-menu-1-container li
    {
        display:block;
        letter-spacing:1px;
        line-height:2.5;
        padding: 0;
        width:100%;
    }

    .menu-menu-1-container ul li a {
        color: black;
        font-family: $hf;
    }

    .burger:checked ~ .menu-menu-1-container
    {
        transform: translateY(27rem);
    }
}

