
// BASES 

.menu-menu-1-container {
    position: fixed;
    top: 0; 
    width: auto;
    margin: 2em auto;
    text-align: center;
}

.menu-menu-1-container ul li {
    display: inline-block;
}

.menu-menu-1-container ul li a{
    padding: 1.5em;
    text-decoration: none;
    color: $tc;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    transition: 0.5s;
}


.menu-menu-1-container ul li a:hover{
    color: $hc;
    transition: 0.5s;
}

@media screen and (min-width: 800px) {
    

    .menu-menu-1-container ul li{
        display: inline-block;
        font-family: $hf;
    }

    .burger {
        display: none;
    }

}

.menu-menu-1-container .current-menu-item a {
    color: $hc;
}




//*  < 800px

@media screen and (min-width: 800px) {

    .menu-menu-1-container {

        width: 100%;
    }



    .current-menu-item::after {
        content: "";
        display: block;
        height: 2px;
        width: 1.75rem;
        margin: auto;
        margin-top: .5rem;
        border-radius: 1px;
        background-color: $hc;
    }

}





//*  < 800px

@media screen and (max-width: 800px) {

    .burger {
        margin: auto;
    }
    
    .burger
    {
        appearance:none;
        color:inherit;
        cursor:pointer;
        position:absolute;
        top:3em;
        z-index: 5;
    }
    
    .burger:before
    {
        content:'';
        width: 50px;
        font-size: 1em;
        padding: 2em;
        background : url(../img/menu.svg) no-repeat;
        position: relative;
        right: 5px;
    }
    
    .burger:checked:before
    {
        content:'';
        width: 50px;
        font-size: 1em;
        padding: 2em;
        background : url(../img/plus.svg) no-repeat;
        position: relative;
        top: -10px;
        right: 17px;
    }



.menu-menu-1-container
{
    background-color:$bb2;
    font-size:1em;
    overflow:hidden;
    text-transform:uppercase;
    transition:height .2s;
    padding: 80px;
    top: -395px;
    color: black;
    z-index: 0;
    transition: transform .3s ease-out;
}

.menu-menu-1-container li
{
    display:block;
    letter-spacing:1px;
    line-height:2.5;
    padding: 0;
    width:100%;
}



.menu-menu-1-container ul li a {
    color: black;
    font-family: $hf;
}

.burger:checked ~ .menu-menu-1-container
{
    transform: translateY(350px);
}

}

