//TODO : rendre la navigation scroolable "normalment" 


.preview_article {
    display: flex;
    align-items: flex-end;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    background-size: cover;
    
}


.preview_article:first-child {
    margin-left: 20%;
}


.preview_article_contener_contener {
    display: grid;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    height: 100%;
}

.preview_article_contener {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
}

.preview_article_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20rem;
    height: 80%;
    padding: 2rem ;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    white-space: pre-wrap;
}
