.single_contner .carouselle {
    padding: 3rem;
    width: auto;
    overflow: auto;
    white-space: nowrap;
        img {
            margin: 1rem;
        }
    img:hover {
        transform: scale(1.1);
        transform-origin: center center;
        transition-timing-function: cubic-bezier(0.79,0.14,0.15,0.86);
        transition: .3s;
        }
}

.single_contner .carouselle a {
    color: rgba(255, 235, 205, 0);
}

.youtube {
    position: relative;
    top: -15px;
    margin-right: 1rem;
}

@media screen and (min-width: 800px) {

    .single_contner .carouselle {
        max-width: 2500px;
    }

    .single_right {
        max-width: 300px;
    }

    .single_contner {
        margin: 0 0 0 20%;
    }
    
}

@media screen and (max-width: 800px) {



    .single_contner .carouselle {
        width: 86vw;
    }



}


.signle_left {
    img {
        height: 150px;
    }
}


