.contact_right input{
    border: none;
    background: none;
    font-family: $tf;
    border-bottom: 1px black solid;
}


.contact_right input:focus{
    outline: none;
    border-color: $hcd;
}

.contact_right textarea{
    border: none;
    background: none;
    font-family: $tf;
    border-bottom: 1px black solid;
}



.contact_right textarea{
    //box-shadow: 7px 3px 4px -3px rgba(0,0,0,0.16);
    line-height: .75rem;
}

.contact_right textarea:focus{
    outline: none;
    border-color: $hcd;
}


.contact_right [type~="submit"]{
    border: black solid 2px;
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    font-family: nov, Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
    transition: 0.3s;
}

.contact_right [type~="submit"]:hover{
    background-color: #FFE200;
    transition: 0.3s;
}


span.wpcf7-not-valid-tip {
    font-size: 1em;
    font-weight: normal;
    color: rgba(115, 4, 4, 0.836);
}

