.index_button {
    padding: 0.75rem 1rem;
    border: $tc solid 1.5px;
}

.index_button {
    color: $tc;
    font-family: $hf;
    text-decoration: none;
    font-size: 2rem;
    transition: .2s;
}

.index_button:hover {
    color: $hc;
    border: $hc solid 1.5px;
    transition: .2s;
}

.cta {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    letter-spacing: 0.2em;

    div{
        width: 50%;
        text-align: center;
        height: 100px;
    }
}




//* > 800 px

@media screen and (min-width: 800px) {

    .photo_contenaire {
        position: relative;
        top: -5rem;
        left: 4rem;
    }
    .bibli_contenaire {
        position: relative;
        top: 5rem;
        left: -4rem;
    }
}


//* < 800 px

@media screen and (max-width: 800px) {

    .cta {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        div{
            width: auto;
            font-size: .75rem;
        }
    }
    .index_button {
        border: $tc solid 1.3px;
        font-size: 2rem;
    }
}
