
.latest_articles_button {
    background-color: $bb;
}

.latest_articles_button a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.25em;
}

.latest_articles_content {
    background-color: $bb2;
    color: black;
    font-size: 1em;
    padding: 2em;
    text-align: left;
}


.latest_articles_article_preview {
    background-size: cover;
}

.latest_articles_article_preview:hover {
    transform: scale(1.1);
    transform-origin: center center;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.79,0.14,0.15,0.86);
}


.latest_articles_article_preview_text {
    
    a {
        text-decoration: none;
        color: $tc;
        font-family: $hf;
        letter-spacing: 0.1em;
        font-size: 0.5em;
        transition: 0.5s;
    }
    p {
        font-size: 0.9em;
    }
}
