

.right {
    background-color: #EDEDED;
    color: black;
    font-size: .8rem;
    text-align: left;
} 


.left {
    background-color: $bb;
    font-size: .8rem;
    color: black;
    text-align: left;
}

.about_contner .left {
    text-align: center;
}


.pages_cta {
    text-decoration: none;
    font-family: $hf;
    color: black;
    font-size: .7rem;
    transition: .3s;
}
.pages_cta:hover {
    background-color: $hc;
    transition: .3s;
}

