


.preview_article:hover {
    transform: scale(1.1);
    transform-origin: center center;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.79,0.14,0.15,0.86);
}



.preview_article_content {
    text-align: left;
    opacity: 0;
    transition: .3s;
}


.preview_article_content:hover {
    opacity: 1;
    transition: .3s;
}



.preview_article_title a {
    text-decoration: none;
    font-family: $hf;
    color: #fff;
    //margin-top: 15rem;
}

.preview_article_content p {
    font-size: .8rem;
}

