
html {
    height: 100%;
}


body {
    color:$tc;
    height: 100%;
    background-image: url(../img/background2.png);
    background-size: cover;
    font-family: $tf;
    font-size: 16px;
    line-height: 1.35em; 
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        overflow: auto;
    }
}

strong {
    text-transform: uppercase;
}

em {
    font-style: italic;
}

h1 {
    color: $hc;
    font-family: $hf;
    font-size: 1.25em;
}

h2 {
    font-family: $hf;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

h3 {
    color: $hc;
    font-family: $hf;
    font-size: 1em;
    padding: 2em 0 1em;
}

button {
    background-color: $hc;
    padding: 1em;
    position: absolute; 
    border: $hc solid 2px;
}

main {
    text-align: left;
}


