
html {
    height: 100%;
}


body {
    color:$tc;
    height: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    font-family: $tf;
    font-size: 16px;
    line-height: 1.35em; 
    overflow: hidden;
    text-align: center;
}


h1 {
    color: $hc;
    font-family: $hf;
    font-size: 1.25em;
}

button {
    background-color: $hc;
    padding: 1em;
    position: absolute; 
    border: $hc solid 2px;
}

main {
    text-align: left;
}


