
$hc : #FFE200; // heiglighe Color
$hcd : rgb(197, 174, 1); // heiglighe Color
$tc : #fff;  // (genreral) text color
$hf : nov , Helvetica, Arial,  sans-serif; // Heiglight font
$tf : hn, Helvetica, Arial, sans-serif; // (general) text font
$bb :  #ffffff8c; //blure background 
$bb2 :  #ffffffb9; //blure background 
$bb3 :  #EDEDED; //blure background 
